
.rounded-box {
  width: 400px;
  height: 300px;
  margin: 3vh;
  display: flex;
  flex-direction: column;
}

.img-container {
  overflow: hidden;
  height: 80%;
  width: 100%;
}

.flex-container-company-box {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.company-img {
  width: 100%;
  height: 100%;
  transition: ease-in-out 0.1s;
}

.company-name {
  margin-bottom: 10px;
  margin-left: 20px;

  color: black;
  font-size: 20px;
}

.company-rating {
  font-size: 15px;
  color: black;
}

.company-img:hover {
  cursor: pointer;
  transform: scale(1.1);
}