.login-form {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 20px;
    padding-top: 10%;
    padding-left: 40%;
}

.email-input, .pass-input, .name-input, .address-input {
    border: none;
    border-bottom: 1px solid #000000;
}

.submit-input {
    background-color: #47746c;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    padding: 5px;
}