.float-container{
    padding: 20px;
}

.float-child{
    width:50%;
    float: left;
    text-align: center;
}

.cities-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}

@media screen and(max-width: 600px) {
    .float-child{
        border: 310px solid green;
    }
}