nav {
    width: 100vw;
    height: 10vh;
    background-color: #84DCCF;
    overflow: hidden;
}

.navbar-elements {
    position: relative;
    left: 5vh;
    width: 90vw;
    height: 100%;
    display: grid;
    grid-template-areas: "a b . c";
    grid-template-columns: 1fr 1fr 3fr 1fr;
    font-family: sans-serif;
    justify-items: center;
    align-items: center;
}

.logo-div {
    height: 10vh;
    grid-area: a;
}

.navbar-left {
    grid-area: b;
}

.navbar-right {
    grid-area: c;
}

.navbar-right, .navbar-left {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.navbar-elements a {
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.logo-div img {
    width: 15vh;
    height: 15vh;
    position: relative;
    top: -2.5vh;
}

.nav-button, .nav-element-active {
    position: relative;
}

.nav-button:after {
    content: "";
    background: black;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    transition: 0.3s ease-in-out;
}

.nav-button:hover:after {
    cursor: pointer;
    height: 2px;
    width: 100%;
}

.nav-element-active:after {
    content: "";
    background: black;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
}

